<div class="item item-avatar">
  <img ng-src="{{ info.avatar }}">
  <h2>Marty McFly</h2>
  <p>November 05, 1955</p>
</div>

<div class="item item-image" style="max-height:200px">
  <span class="badge badge-assertive badge-list">Perdido</span>
  <img class="full-image" ng-src="{{ info.image }}">
  <!-- <span class="badge badge-assertive search-status">Perdido</span> -->
</div>

<div class="row">
  <div class="col">
    <span class="item item-icon-left dark">
      <i class="icon ion-ios-paw balanced"></i> Perro  
    </span>    
  </div>
  <div class="col">
    <span class="item item-icon-left dark">
      <i class="icon ion-paintbucket balanced"></i> Negro
    </span>    
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="item item-icon-left dark">
      <i class="icon ion-calendar balanced"></i> Hace 2 semanas
    </span>
  </div>
</div>

<div class="item item-body">
  <h2 class="item-title dark">Camila</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptatibus cumque ipsa suscipit magnam, quidem voluptate repellendus. Quae tempora molestias quam sequi totam, temporibus asperiores voluptas, pariatur dignissimos reiciendis ipsa. Molestiae nam sapiente explicabo animi. Totam magni quidem, non nulla a voluptatem ullam sed neque.</p>
  <p>
    <a href class="subdued"><i class="icon ion-chatbox balanced"></i> 5 Comentarios</a>
  </p>    
</div>
  
</div>
